wheel
torch==1.7.1
pytorch-lightning==1.2.2
torchtext==0.8.0
gdown==3.12.2
addict
piq
numpy
PyWavelets>=1.0.0
git+git://github.com/fbcotter/pytorch_wavelets.git
neptune-client
kornia
pytorch_fid
ninja
